* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration-color: #000;
	text-decoration: none;
}

:root {
	--background-color: #C8FF70;
	--shade-color: #afff8156;

	--color-primary: #965500;
	--font-color: #000000;
	--color-accent:#55db55;
}

@font-face {
	font-family: "titlesfont";
	src: url(res/fonts/toonti.ttf);
}

@font-face {
	font-family: "textfont";
	src: url(res/fonts/Small\ Town\ Skyline.ttf);
}

@font-face {
	font-family: "headerfont";
	src: url(res/fonts/SnellBT-Regular.otf);
}

p{
	font-size: 3em;
	font-family: "textfont";
	color: var(--font-color);
}

h1,h2,h3,h4{
	font-family: "titlesfont";
	font-size: 4.5em;
	color: var(--font-color);
}

body {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.columnsdiv {
	display: flex;
}

/* NAV BAR*/
.navcontainer {
	position: fixed;
	left: 0;
	top: 40%;
	width: 4.5vw;
	min-width: 58px;
	max-width: 68px;
	background-color: var(--color-accent);
	border-radius: 0 25px 25px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 3;
	padding: 6px;
	padding-left: 0;
}

.navcontainer>.social-link {
	display: flex;
}

.navcontainer>.social-link>img {
	width: 3vw;
	height: 3vw;
	min-width: 45px;
	min-height: 45px;
	max-height: 65px;
	max-width: 65px;
	transition: 0.7sec;
	z-index: 2;
}

.navcontainer>.social-link>.datadiv>a {
	z-index: 1;
}

.navcontainer>.social-link>.datadiv {
	position: absolute;
	background-color: var(--color-accent);
	width: fit-content;
	white-space: nowrap;
	height: 3vw;
	transition: 0.8s;
	display: flex;
	align-items: center;
	padding-right: 3px;
	left: -200px;
	z-index: 1;
	border-radius: 0 10px 10px 0;
}

/*TOGGLE SOCIALS*/
.navcontainer>.social-link:hover .datadiv {
	left: 3.5vw;
}

/*HEADER*/

header{
	height: 15vw;
	min-height: 300px;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: relative;
}

header>div{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--shade-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

header>div>h1 {
	position: absolute;
	font-size: 8em;
	font-family: "headerfont";
}
header>div>img{
	position: absolute;
	height: 100%;
	width: 100%;
}
header>img {
	position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

/*GALLERY*/
.hello {
	opacity: 1 !important;
  }
  .full {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
  }
  .full .content {
	background-color: rgba(0,0,0,0.75) !important;
	height: 100%;
	width: 100%;
	display: grid;
  }
  .full .content img {
	left: 50%;
	transform: translate3d(0, 0, 0);
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
  }
  .byebye {
	opacity: 0;
  }
  .byebye:hover {
	transform: scale(0.2) !important;
  }
  .gallery {
	display: grid;
	grid-column-gap: 7px;
	grid-row-gap: 7px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 8px;
  }
  .gallery img {
	max-width: 100%;
	border-radius: 8px;
	box-shadow: 0 0 16px #333;
	transition: all 1.5s ease;
  }
  .gallery img:hover {
	box-shadow: 0 0 32px #333;
  }
  .gallery .content {
	padding: 4px;
  }
  .gallery .gallery-item {
	transition: grid-row-start 300ms linear;
	transition: transform 300ms ease;
	transition: all 0.5s ease;
	cursor: pointer;
  }
  .gallery .gallery-item:hover {
	transform: scale(1.025);
  }
  @media (max-width: 600px) {
	.gallery {
	  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	}
  }
  @media (max-width: 400px) {
	.gallery {
	  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	}
  }

/*OTHERS*/
main>.rowothers {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	gap: 90px;
}

main>.rowothers>.colmaps>iframe {
	width: 40vw;
	height: 20vw;
	min-width: 150px;
	min-height: 100px;
}

main>.rowothers>.colinfo {
	display: flex;
	flex-direction: column;
}

main>.rowothers>.colinfo>h1 {}

main>.rowothers>.colinfo>.listscontainer {
	display: flex;
	gap: 30px;
}

.rowothers>.colinfo>.listscontainer>.col {}

.rowothers>.colinfo>.col>ul {
	list-style-type: circle;
}

main>.rowothers>.colinfo>.col>ul>li {}



/*FOOTER*/
footer {
    display: flex;
	gap: 100px;
    font-size: 0.8em;
    margin-top: 3em;	
}

footer>div{
	margin: 10px;
}

footer>div>h6 {
    font-size: 1.4em;
}

footer>div>ul>a>li {
    display: flex;
    align-items: center;
	transition: 0.6s;
}

footer>div>ul>a:hover li{
	background-color: var(--shade-color);
	scale: 1.3;
}

footer>div>ul>a>li>img {
    width: 30px;
    height: 30px;
}

/*RESPONSIVE*/

@media only screen and (max-width: 1200px) and (min-width: 960px) {
	
	header>div>h1 {
		position: absolute;
		font-size: 6em;
		font-family: "headerfont";
	}

	main>.rowothers>.colinfo>.col>ul>li>p {
		font-size: 1.5em;
	}
  }

  @media only screen and (max-width: 959px) {
	
	header>div>h1 {
		font-size: 4em;
	}
  }