* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration-color: #000;
	text-decoration: none;
}

:root {
	--background-color: #C8FF70;
	--shade-color: #afff8156;

	--color-primary: #965500;
	--font-color: #000000;
	--color-accent: #55db55;
}

@font-face {
	font-family: "titlesfont";
	src: url(res/fonts/toonti.ttf);
}

@font-face {
	font-family: "textfont";
	src: url(res/fonts/Small\ Town\ Skyline.ttf);
}

@font-face {
	font-family: "headerfont";
	src: url(res/fonts/SnellBT-Regular.otf);
}

p {
	font-size: 3.2em;
	font-family: "textfont";
	color: var(--font-color);
}

h3 {
	font-family: "titlesfont";
	font-size: 3.5em;
	color: var(--font-color);
}

body {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

section {
	margin-top: 10vh;
}

.columnsdiv {
	display: flex;
}

/* NAV BAR*/
.navcontainer {
	position: fixed;
	left: 0;
	top: 40%;
	width: 4vw;
	min-width: 58px;
	max-width: 68px;
	background-color: var(--color-accent);
	border-radius: 0 25px 25px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 3;
	padding: 6px;
	padding-left: 0;
}

.navcontainer>.social-link {
	display: flex;
	align-items: center;
	position: relative;
}

.navcontainer>.social-link>img {
	width: 2.5vw;
	height: 2.5vw;
	min-width: 45px;
	min-height: 45px;
	max-height: 65px;
	max-width: 65px;
	transition: 0.7sec;
	z-index: 2;
}

.navcontainer>.social-link>.datadiv>a {
	z-index: 1;
}

.navcontainer>.social-link>.datadiv {
	position: absolute;
	left: -300px;
	padding-right: 3px;
	z-index: 1;
	border-radius: 0 10px 10px 0;
	white-space: nowrap;
	display: flex;
	justify-content: end;
	width: 230px;
	transition: 0.8s;
	background-color: var(--color-accent);
}

/*TOGGLE SOCIALS*/
.navcontainer>.social-link:hover .datadiv {
	left: 0;
}

/*HEADER*/

header {
	height: 25vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: relative;
	background-image: url("res/header\ image.jpg.png");
	background-position: center;
}

header>div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--shade-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

header>div>h1 {
	position: absolute;
	font-size: 6.5em;
	font-family: "headerfont";
}

header>div>img {
	position: absolute;
	height: 100%;
	width: 100%;
}

/*CARACS*/

.rowinfo>.listscontainer {
	display: flex;
	justify-content: space-evenly;
}

.rowinfo>.listscontainer>div>ul>li{
	display: flex;
	gap: 5px;
}

.rowinfo>.listscontainer>div>ul>li>.bx{
	font-size: 2.5em;
}


/*GALLERY*/
.mainphotodiv{
	width: 90vw;
	height: 70vh;
	display: flex;
	justify-content: center;
	margin-bottom: 5vh;
}
.mainphotodiv>img{
	max-width: 100%;
	max-height: 100%;
}
.subframe{
	height: 25vh;
	width: 90vw;
	display: flex;
	overflow: auto;
}

.subframe>img{

}
/*MAP*/
.maps {
	display: flex;
	justify-content: center;
}

.maps>iframe {
	width: 60vw;
	height: 40vw;
	min-width: 200px;
	min-height: 200px;
	max-width: 700px;
	max-height: 400px;
}

/*FOOTER*/
footer>a>img {
	width: 4vw;
	max-width: 50px;
	min-width: 30px;
}



/*RESPONSIVE*/

@media only screen and (min-width:720px) and (max-width: 960px) {

	header>div>h1 {
		font-size: 5em
	}

	h3 {
		font-size: 2em;
	}
}

@media only screen and (min-width:480px) and (max-width: 719px) {

	section {
		margin-bottom: 50px;
	}

	header>div>h1 {
		font-size: 3em
	}

	h3 {
		font-size: 2em;
	}
}


@media only screen and (max-width: 479px) {

	section {
		margin-bottom: 50px;
	}

	header>div>h1 {
		font-size: 2.3em;
	}

	p {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	.navcontainer>.social-link>.datadiv {

		width: 160px;
	}

	.navcontainer{
		width: 4vw;
		min-width: 50px;
	}

}

@media only screen and (min-width: 2000px){

	p{
		font-size: 4em;
	}

	.navcontainer>.social-link>.datadiv {
	width: 300px;
	left: -400px;
	}

	footer>a>img{
		max-width: 100px;
	}

	.maps>iframe {
		max-width: 1200px;
		max-height: 700px;
	}

}